<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/calma"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calma"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calm"
        tools:targetApi="31" >
        <activity
            android:name=".fragments.zona_activa_actividades.Pantalla_Yoga"
            android:exported="false" />
        <activity
            android:name=".fragments.zona_activa_actividades.Pantalla_Ejercicios_de_relajacion"
            android:exported="false" />
        <activity
            android:name=".fragments.zona_activa_actividades.Tarea_prediccion"
            android:exported="false" />
        <activity
            android:name=".fragments.zona_activa_actividades.Pantalla_cartas_hacia_el_futuro"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SingupActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.ZonaActiva"
            android:exported="false" />
        <activity
            android:name=".fragments.Diario"
            android:exported="false" />
        <activity
            android:name=".fragments.EspacioTerapeutico"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>